
@model Quadridge2.ViewModels.Companies.CompanyFormViewModel
@{
    ViewBag.Title = "Company Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Save", "Companies"))
        {
        <div class="form-row">
            <div class="col-5">
                <div class="form-row">  
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.Company.Name, new { @class = "form-control-label" })
                            @Html.TextBoxFor(e => e.Company.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(e => e.Company.Name)
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.Company.RegistrationNumber, new { @class = "form-control-label" })
                            @Html.TextBoxFor(e => e.Company.RegistrationNumber, new { @class = "form-control" })
                            @Html.ValidationMessageFor(e => e.Company.RegistrationNumber)
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.Company.StructureId, new { @class = "form-control-label" })
                            @Html.DropDownListFor(e => e.Company.StructureId, new SelectList(Model.Structures, "Id", "Name"), "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.Company.TrustId, new { @class = "form-control-label" })
                            @Html.DropDownListFor(e => e.Company.TrustId, new SelectList(Model.Trusts, "Id", "Name"), "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>

                <div class="form-row">

                </div>

                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.Company.FirstBillingDate, new { @class = "form-control-label" })
                            @Html.TextBoxFor(e => e.Company.FirstBillingDate, new { @class = "form-control datepicker-here", @data_language = "en", @autocomplete = "off" })
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.Company.DirectorshipStartDate, new { @class = "form-control-label" })
                            @Html.TextBoxFor(e => e.Company.DirectorshipStartDate, new { @class = "form-control datepicker-here", @data_language = "en", @autocomplete = "off" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.Company.FeeTypeId, new { @class = "form-control-label" })
                            @Html.DropDownListFor(e => e.Company.FeeTypeId, new SelectList(Model.FeeTypes, "Id", "Type"), "", new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.Company.BillingBasisId, new { @class = "form-control-label" })
                            @Html.DropDownListFor(e => e.Company.BillingBasisId, new SelectList(Model.BillingBases, "Id", "Basis"), "", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="col-12">
                    <ul class="list-group" id="serviceList">
                        <li class="list-group-item service-heading">Services</li>
                        @foreach (var service in Model.Services)
                        {
                            <li class="list-group-item">
                                <input type="checkbox" name="services" value="@service.Id" id="check_@service.Id" />
                                <label for="check_@service.Id">@service.Name</label>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
            @Html.AntiForgeryToken()
            <button class="btn btn-primary">Save</button>

        }
    </div>
</div>

