@model Quadridge2.ViewModels.Companies.CompanyDetailsViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}   
<div class="card">
    <div class="card-header">
        @Html.ActionLink("Edit", "Edit", "Companies", new { id = Model.Company.Id } ,  new { @class= "btn btn-primary float-right" })
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="col-5">
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.Company.Name, new { @class = "form-control-label" })
                            @Html.TextBoxFor(e => e.Company.Name, new { @class = "form-control", @value = Model.Company.Name, @readonly = "" })
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(e => e.Company.RegistrationNumber, new { @class = "form-control-label" })
                            @Html.TextBoxFor(e => e.Company.RegistrationNumber, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    @if (Model.Company.Structure == null)
                    {
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(e => e.Company.Structure.Name, new { @class = "form-control-label" })
                                @Html.TextBoxFor(e => e.Company.Structure.Name, new { @class = "form-control", @readonly = "", @id="structureTextbox" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(e => e.Company.StructureId, new { @class = "form-control-label" })
                                @Html.TextBoxFor(e => e.Company.Structure.Name, new { @class = "form-control textboxlink", @value = Model.Company.Structure.Name, @readonly = "" })
                            </div>
                        </div>
                    }

                    @if (Model.Company.Trust == null)
                    {
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(e => e.Company.TrustId, new { @class = "form-control-label" })
                                @Html.TextBoxFor(e => e.Company.TrustId, new { @class = "form-control", @readonly = "" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(e => e.Company.TrustId, new { @class = "form-control-label" })
                                @Html.TextBoxFor(e => e.Company.Trust.Name, new { @class = "form-control textboxlink", @value = Model.Company.Trust.Name, @readonly = "" })
                            </div>
                        </div>
                    }

                </div>

                <div class="form-row">
                    <div class="col-6">
                        @{
                            var billDate = Model.Company.FirstBillingDate.ToString("dd/MM/yyyy");
                        }
                        <div class="form-group">
                            @Html.LabelFor(e => e.Company.FirstBillingDate, new { @class = "form-control-label" })
                            @Html.TextBoxFor(e => billDate, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="col-6">
                        @{
                            var date = Model.Company.DirectorshipStartDate.ToString("dd/MM/yyyy");
                        }
                        <div class="form-group">
                            @Html.LabelFor(e => e.Company.DirectorshipStartDate, new { @class = "form-control-label" })
                            @Html.TextBoxFor(e => date, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-5">
                <ul class="list-group">
                    <li class="list-group-item  service-heading">Services</li>
                    @foreach(var service in Model.Company.CompanyServices)
                    {
                        <li class="list-group-item">@service.Service.Name</li>
                    }
                </ul>
            </div>

        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".display").DataTable();

            if ($('#Company_Structure_Name').val() != '') {
                $("#Company_Structure_Name").on("click", function () {
                    var url = '@Url.Action("Details", "Structures", new { id = "__id__" })';
                    window.location.href = url.replace('__id__', @Model.Company.StructureId);
                });
            };

            if ($('#Company_Trust_Name').val() != '') {
                $("#Company_Trust_Name").on("click", function () {
                    var url = '@Url.Action("Details", "Trusts", new { id = "__id__" })';
                    window.location.href = url.replace('__id__', @Model.Company.TrustId);
                });
            };

            $("#contacts .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this customer?")) {
                    $.ajax({
                        url: "/Companies/Delete" + button.attr("data-company-id"),
                        method: "DELETE",
                        success: function () {
                            //console.log("Success");
                            table.row(button.parents("tr")).remove().draw();
                        }
                    }); // ajax
                }
            }); // on click function
        }); // ready function
    </script>
}

