@model IEnumerable<Quadridge2.Models.Company>
@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        @Html.ActionLink("New Company", "New", "Companies", null, new { @class = "btn btn-primary float-right" })
    </div>
    <div class="card-body">
        @if (!Model.Any())
        {
            <p> We do not have any companies yet </p>
        }
        else
        {
            <table id="companies" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Registration Number</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var company in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(company.Name, "Details", "Companies", new { id = company.Id }, null)</td>
                            <td>@company.RegistrationNumber</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Companies", new { id = company.Id }, new { @class = "btn btn-info" })
                                <button data-company-id="@company.Id" class="btn btn-danger js-delete"><i class="fa fa-trash-o fa-lg"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#companies").DataTable();

            $("#companies .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this customer?")) {
                    $.ajax({
                        url: "/Companies/Delete/" + button.attr("data-company-id"),
                        method: "DELETE",
                        success: function (result) {
                            window.location.href = result.Url;
                        }
                    }); // ajax
                }
            }); // on click function
        }); // ready function
    </script>
}
