@model Quadridge2.ViewModels.Contacts.ContactFormViewModel
@{
  ViewBag.Title = "Contact Form";
}

<div class="card">
  <div class="card-body">
    @using (Html.BeginForm("Save", "Contacts", FormMethod.Post))
    {
      @Html.HiddenFor(c => c.Contact.Id)
      <div class="form-row">
        <p style="color:red">@Html.ValidationSummary()</p>
      </div>
      <div class="form-row">
        <div class="col-3">
          <div class="form-group">
            @Html.LabelFor(c => c.Contact.Firstname, new { @class = "form-control-label" })
            @Html.TextBoxFor(c => c.Contact.Firstname, new { @class = "form-control", @autofocus = "autofocus" })
            @Html.ValidationMessageFor(c => c.Contact.Firstname)
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            @Html.LabelFor(c => c.Contact.Surname, new { @class = "form-control-label" })
            @Html.TextBoxFor(c => c.Contact.Surname, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Contact.Surname)
          </div>
        </div>
      </div>

      <div class="form-row">

        <div class="col-3">
          <div class="form-group">
            @Html.LabelFor(c => c.Contact.Email, new { @class = "form-control-label" })
            @Html.TextBoxFor(c => c.Contact.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Contact.Email)
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            @Html.LabelFor(c => c.Contact.Birthday, new { @class = "form-control-label" })
            @Html.TextBoxFor(c => c.Contact.Birthday, new { @class = "form-control datepicker-here", @data_language = "en", @autocomplete = "off" })
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-3">
          <div class="form-group">
            @Html.LabelFor(c => c.Contact.ContactNo, new { @class = "form-control-label" })
            @Html.TextBoxFor(c => c.Contact.ContactNo, new { @class = "form-control" })
            @Html.ValidationMessageFor(c => c.Contact.ContactNo)
          </div>
        </div>

        <div class="col-3">
          <div class="form-group">
            @Html.LabelFor(c => c.Contact.AltContactNo, new { @class = "form-control-label" })
            @Html.TextBoxFor(c => c.Contact.AltContactNo, new { @class = "form-control" })
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-3">
          <div class="form-group">
            @Html.LabelFor(e => e.Contact.InstituteId, new { @class = "form-control-label" })
            @Html.DropDownListFor(e => e.Contact.InstituteId, new SelectList(Model.Institutes, "Id", "Name"), "Select Institute", new { @class = "form-control selectpicker", @data_live_search = "true" })
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            @Html.LabelFor(e => e.Contact.DepartmentId, new { @class = "form-control-label" })
            @Html.DropDownListFor(e => e.Contact.DepartmentId, new SelectList(Model.Departments, "Id", "Name"), "Select Department", new { @class = "form-control selectpicker", @data_live_search = "true" })
          </div>
        </div>
        <div class="col-3">
          <div class="form-group">
            @Html.LabelFor(e => e.Contact.LocationId, new { @class = "form-control-label" })
            @Html.DropDownListFor(e => e.Contact.LocationId, new SelectList(Model.Locations, "Id", "Name"), "Select Location", new { @class = "form-control selectpicker", @data_live_search = "true" })
          </div>
        </div>
      </div>
      <hr />
      @Html.AntiForgeryToken()
      <button type="submit" class="btn btn-primary">Save</button>
    }
  </div>
</div>


@section scripts
{
  @Scripts.Render("~/bundles/jqueryval")
}


