@using Quadridge2.Models
@model LoginViewModel
@{
    Layout = null;
    ViewBag.Title = "Log in";
    @Styles.Render("~/Content/css")
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quadridge</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="robots" content="all,follow">
    <!-- Google fonts - Poppins -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700">
    @Styles.Render("~/Content/css")
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <div class="page login-page">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">
                    <!-- Logo & Information Panel-->
                    <div class="col-lg-6">
                        <div class="info d-flex align-items-center">
                            <div class="content">
                                <div class="logo">
                                    <img src="~/Images/Quadridge-Web-Logo-Retina-white.png" width="100%" />
                                </div>  @* logo *@
                            </div> @* Content *@
                        </div> @* Info d-flex *@
                    </div> @* col-lg-6 *@
                    <!-- Form Panel    -->
                    <div class="col-lg-6 bg-white">
                        <div class="form d-flex align-items-center">
                            <div class="content">
                                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-validate", role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        //@Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Email, new { @class = "label-material" })
                                            @Html.TextBoxFor(m => m.Email, new { id = "login-username", @class = "input-material" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.LabelFor(m => m.Password, new { @class = "label-material" })
                                            @Html.PasswordFor(m => m.Password, new { id="login-password",  @class = "input-material" })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <div class="checkbox">
                                                    @Html.CheckBoxFor(m => m.RememberMe)
                                                    @Html.LabelFor(m => m.RememberMe)
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Log in" class="btn btn-primary" />
                                            </div>
                                        </div>
                                        @* Enable this once you have account confirmation enabled for password reset functionality
                                        <p>
                                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                        </p>*@
                                    }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript files-->
    @Scripts.Render("~/bundles/lib")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dashboard")
</body>
</html>
