@model Quadridge2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@*@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}*@

<div class="card">
  <div class="card-body">
  <h4>Create a new account</h4>
    @using (Html.BeginForm("Register", "Account"))
    {
      <div class="form-row">
        <div class="col-5">
          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                @Html.LabelFor(m => m.Username, new { @class = "form-control-label" })
                @Html.TextBoxFor(e => e.Username, new { @class = "form-control", @autofocus = "autofocus" })
                @Html.ValidationMessageFor(e => e.Username)
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "form-control-label" })
                @Html.TextBoxFor(e => e.Email, new { @class = "form-control", @autofocus = "autofocus" })
                @Html.ValidationMessageFor(e => e.Email)
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                @Html.LabelFor(m => m.ContactNumber, new { @class = "form-control-label" })
                @Html.TextBoxFor(e => e.ContactNumber, new { @class = "form-control", @autofocus = "autofocus" })
                @Html.ValidationMessageFor(e => e.ContactNumber)
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                @Html.LabelFor(m => m.FirstName, new { @class = "form-control-label" })
                @Html.TextBoxFor(e => e.FirstName, new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.FirstName)
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                @Html.LabelFor(m => m.LastName, new { @class = "form-control-label" })
                @Html.TextBoxFor(e => e.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.LastName)
              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-6">
              <div class="form-group">
                @Html.LabelFor(e => e.Password, new { @class = "form-control-label" })
                @Html.PasswordFor(e => e.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.Password)
              </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                @Html.LabelFor(e => e.ConfirmPassword, new { @class = "form-control-label" })
                @Html.PasswordFor(e => e.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(e => e.ConfirmPassword)
              </div>
            </div>
          </div>
        </div>
      </div>
      @Html.AntiForgeryToken()
      <button class="btn btn-primary" id="submit">Register</button>

    }
  </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
