@using Quadridge2.Helpers
@model IEnumerable<Quadridge2.Models.Maintenance.InteractionType>
@{
    ViewBag.Title = "Interaction Types";
}
<div class="row">
    <button class="btn btn-primary" data-target="addInteractionType" data-toggle="modal" id="btnShowModal">New Interaction Type</button>
</div>
@Html.AddNewModal("InteractionType","Interaction Type", "Interaction type")
@Html.DeleteModal("interaction type")
@Html.EditModal("Interaction Type", "Interaction type", "InteractionType")

<div class="row">
    @if (Model == null)
    {
        <p>There are no interaction types, please add one.</p>
    }
    else
    {
        <table id="InteractionTypes" class="table table-bordered table-hover">
            @foreach (var InteractionType in Model)
            {
                <tr>
                    <td>@InteractionType.Type</td>
                    <td><button class="btn btn-info edit" onclick="editGroupName('@InteractionType.Id', '@InteractionType.Type'); return false;">Edit</button>  <button class="btn btn-danger delete" data-InteractionType-id=@InteractionType.Id data-target="#confirmDelete"><i class="fa fa-trash-o fa-lg"></i></button></td>
                </tr>
            }
        </table>
    }
</div>

@section Scripts
{
    <script>

        function editGroupName(id, name) {
            $('input#editId').val(id);
            $('#editModalText').val(name);
        };

        $(document).ready(function () {

            var button;

            $("#btnShowModal").click(function () {
                button = $(this);
                $("#addInteractionType").modal('show');
            });

            $("#btnHideModal").on("click",function () {
                $("#addInteractionType").modal('hide');
            });

            $("#btnHideEditModal").on("click", function () {
                $("#editModal").modal("hide");
            });

            $(".edit").on("click", function () {
                $("#editModal").modal("show");
            });

            $("#hideConfirmModal").on("click", function () {
                $("#confirmDelete").modal('hide');
            });

            $(".delete").on("click", function () {
                button = $(this);
                $("#deleteId").val($(this).attr("data-InteractionType-id"));
                $("#confirmDelete").modal('show');
            });

            $("#yes").on("click", function () {
                console.log("Ive been pushed");
                $.ajax({
                    url: "/InteractionTypes/Delete/" + $("#deleteId").val(),
                    method: "DELETE",
                    success: function () {
                        toastr.success("Interaction type removed");
                        $("#confirmDelete").modal("hide");
                        $(button.parent("tr")).remove();
                        console.log("Success");
                        location.reload();
                    }
                });
            });

            $(".saveInterationType").click(function (e) {
                e.preventDefault();
                var InteractionType = {}
                
                if ($('input#editId').val() != '') {
                    InteractionType.Id = $('input#editId').val();
                    InteractionType.Type = $('#editModalText').val();
                }
                else {
                    InteractionType.Type = $("#InteractionType").val();
                }
                $.ajax(
                    {
                        method: "post",
                        url: "/InteractionTypes/Save",
                        data: JSON.stringify(InteractionType),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        complete: function () {
                            toastr.success("Interaction Type successfully added");
                            $("#addInteractionType").modal('hide');
                            var inside = "<td>" + InteractionType.Type + "/<td>"
                            $(button.parent("table")).append("<tr>" + inside + "</tr>");
                            location.reload();
                        },
                        fail: function () {
                            toastr.error("Failed to add InteractionType.");
                        }
                    }
                )
            });
        });

    </script>
}

