@using Quadridge2.Helpers
@model IEnumerable<Quadridge2.Models.ApplicationUser>
@{
  ViewBag.Title = "Users";
}

@Html.AddNewModal("User", "User", "User")
@Html.DeleteModal("User")
@Html.EditModal("User", "User", "User")

<div class="card">
  <div class="card-header">
    @Html.ActionLink("New User", "Register", "Account", null, new { @class = "btn btn-primary float-right" })
  </div>
  <div class="card-body">
    <div class="row">
      @if (Model == null)
      {
      <p>There are no Users, please add one</p>
      }
      else
      {
        <p>@Model.Count()</p>
        <table id="InteractionTypes" class="table table-bordered table-hover">
          @foreach (var User in Model)
          {
            <tr>
              <td>@User.FirstName</td>
              <td>@User.UserName</td>
              <td>
                @Html.ActionLink("Edit", "Edit", "UsersAdmin", new { id = User.Id }, new { @class = "btn btn-info" })
                <button data-contact-id="@User.Id" class="btn btn-danger js-delete"><i class="fa fa-trash-o fa-lg"></i></button>
              </td>
            </tr>
          }
        </table>
      }
    </div>
  </div>
</div>

@section Scripts
{
  <script>

        function editGroupName(id, name) {
            $('input#editId').val(id);
            $('#editModalText').val(name);
        };

        $(document).ready(function () {

            $('#addUser').on("shown.bs.modal", function () {
                $("#UserAddModal").focus();
            });

            var button;

            $("#btnShowModal").click(function () {
                button = $(this);
                $("#addUser").modal('show');
            });

            $("#btnHideModal").on("click",function () {
                $("#addUser").modal('hide');
            });

            $("#btnHideEditModal").on("click", function () {
                $("#editModal").modal("hide");
            });

            $(".edit").on("click", function () {
                $("#editModal").modal("show");
            });

            $("#hideConfirmModal").on("click", function () {
                $("#confirmDelete").modal('hide');
            });

            $(".delete").on("click", function () {
                button = $(this);
                $("#deleteId").val($(this).attr("data-User-id"));
                $("#confirmDelete").modal('show');
            });

            $("#yes").on("click", function () {
                $.ajax({
                    url: "/UsersAdmin/Delete/" + $("#deleteId").val(),
                    method: "DELETE",
                    success: function () {
                        toastr.success("User removed");
                        $("#confirmDelete").modal("hide");
                        $(button.parent("tr")).remove();
                        location.reload();
                    }
                });
            });

            $("#saveUser").click(function (e) {
                e.preventDefault();
                var InteractionType = {}

                if ($('input#editId').val() != '') {
                    InteractionType.Id = $('input#editId').val();
                    InteractionType.Type = $('#editModalText').val();
                }
                else {
                    InteractionType.Type = $("#UserAddModal").val();
                }
                $.ajax(
                    {
                        method: "post",
                        url: "/UsersAdmin/Save",
                        data: JSON.stringify(InteractionType),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        success: function (result) {
                            toastr.success("User successfully added");
                            $("#addUser").modal('hide');
                            var inside = "<td>" + InteractionType.Type + "/<td>"
                            $(button.parent("table")).append("<tr>" + inside + "</tr>");
                            window.location.href = result.Url;
                        },
                        fail: function () {
                            toastr.error("Failed to add User.");
                        }
                    }
                )
            });
        });

  </script>
}


