@model Quadridge2.Models.Institute
@{
    ViewBag.Title = "Financial Institution Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        @using (@Html.BeginForm("Save", "FinacialInstitutions"))
        {
            <div class="form-row">
                <div class="col-3">
                    <div class="form-group">
                        @Html.LabelFor(b => b.Institute.Name, new { @class = "form-control-label" })
                        @Html.TextBoxFor(b => b.Institute.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(b => b.Institute.Name)
                    </div>
                </div>
            </div>

            @Html.AntiForgeryToken()
            <button type="submit" class="btn btn-primary">Submit</button>

        }
    </div>
</div>
