@model IEnumerable<Quadridge2.Models.Deals.Structure>
@{
    ViewBag.Title = "Structures";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-header">
        @Html.ActionLink("New Structure", "New", "Structures", null, new { @class = "btn btn-primary float-right" })
    </div>
    <div class="card-body">

        @if (!Model.Any())
        {
            <p> We do not have any Structures yet </p>
        }
        else
        {
            <table id="structures" class="table table-bordered table-hover">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var structure in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(structure.Name, "Details", "Structures", new { id = structure.Id }, null)</td>
                            <td>@structure.Status.Type</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", "Structures", new { id = structure.Id }, new { @class = "btn btn-info" })
                                <button data-structure-id="@structure.Id" class="btn btn-danger js-delete"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#structures").DataTable();

            $("#structures .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this customer?")) {
                    $.ajax({
                        url: "/Structures/Delete/" + button.attr("data-structure-id"),
                        method: "DELETE",
                        success: function () {
                            //console.log("Success");
                            table.row(button.parents("tr")).remove().draw();
                            window.location.href = result.Url;
                        }
                    }); // ajax
                }
            }); // on click function
        }); // ready function
    </script>
}
