@using Quadridge2.Helpers
@using Microsoft.AspNet.Identity

<nav class="side-navbar">
    <!-- Sidebar Header-->
    @if (Request.IsAuthenticated)
    {
        <div class="sidebar-header d-flex align-items-center">

            <div class="avatar"><img src="~/Content/dashboard/img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
            <div class="title">
                @Html.ActionLink(User.Identity.GetUserName(), "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </div>
        </div>
    }
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        <li class='@Html.IsActive("Home", "Index")'>
            <a href="@Url.Action("Index","Home")"> <i class="icon-home"></i>Home </a>
        </li>

        <li class="@Html.IsActive("Clients","Index") @Html.IsActive("Companies","Index") @Html.IsActive("Trusts", "Index")">
            <a href="#clientDropDown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-briefcase fa-lg"></i>Entities </a>
            <ul id="clientDropDown" class="collapse list-unstyled ">
                <li><a href="@Url.Action("Index", "Companies")">Companies</a></li>
                <li><a href="@Url.Action("Index", "Trusts")">Trusts</a></li>
            </ul>
        </li>

        <li class="@Html.IsActive("Contacts", "Index")">
            <a href="@Url.Action("Index", "Contacts")"> <i class="icon-user"></i>Contacts </a>
        </li>

        <li class="@Html.IsActive("Structures","Index")">
            <a href="#dealDropDown" aria-expanded="false" data-toggle="collapse"> <i class="fa fa-bar-chart"></i>Deals </a>
            <ul id="dealDropDown" class="collapse list-unstyled ">
                <li><a href="@Url.Action("Index", "Structures")">Structures</a></li>
            </ul>
        </li>

        <li class="@Html.IsActive("Interactions", "Index")">
            <a href="@Url.Action("Index", "Interactions")"> <i class="icon-paper-airplane"></i>Interactions </a>
        </li>
        <li class="@Html.IsActive("FinancialInstitutions", "Index")">
            <a href="@Url.Action("Index", "FinancialInstitutions")"> <i class="fa fa-bank"></i>Financial Institutions </a>
        </li>
        <li class="@Html.IsActive("OtherInstitutions", "Index")">
            <a href="@Url.Action("Index", "OtherInstitutions")"> <i class="icon-bill"></i>Other Institutions </a>
        </li>
        <li class="@Html.IsActive("LawFirms", "Index")">
            <a href="@Url.Action("Index", "LawFirms")"> <i class="icon-pencil-case"></i>Law Firms </a>
        </li>
        <li>
            <a href="#maintenancedropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Maintenance </a>
            <ul id="maintenancedropdownDropdown" class="collapse list-unstyled @Html.IsActive("Services","Index") @Html.IsActive("InteractionTypes","Index") @Html.IsActive("BillingBases","Index") @Html.IsActive("FeeTpes","Index") @Html.IsActive("Statuses", "Index") @Html.IsActive("StructureCategories", "Index")">
                <li><a href="@Url.Action("Index", "BillingBases")">Billing Bases</a></li>
                <li><a href="@Url.Action("Index", "Departments")">Departments</a></li>
                <li><a href="@Url.Action("Index", "InstitutionTypes")">Institution Types</a></li>
                <li><a href="@Url.Action("Index", "InteractionTypes")">Interaction Types</a></li>
                <li><a href="@Url.Action("Index", "Locations")">Locations</a></li>
                <li><a href="@Url.Action("Index", "FeeTypes")">Fee Types</a></li>
                <li><a href="@Url.Action("Index", "Services")">Services</a></li>
                <li><a href="@Url.Action("Index", "Statuses")">Statuses</a></li>
                <li><a href="@Url.Action("index", "StructureCategories")">Structure Categories</a></li>
            </ul>
        </li>
        <li>
          <a href="#securitydropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-grid"></i>Security </a>
          <ul id="securitydropdownDropdown" class="collapse list-unstyled @Html.IsActive("Users","Index") @Html.IsActive("Roles","Index")">
            <li><a href="@Url.Action("Index", "UsersAdmin")">Users</a></li>
            <li><a href="@Url.Action("Index", "RolesAdmin")">Roles</a></li>
          </ul>
        </li>
        @Html.Partial("_LoginPartial")
    </ul>
</nav>