<nav class="side-navbar">
    <!-- Sidebar Header-->
    <div class="sidebar-header d-flex align-items-center">
        <div class="avatar"><img src="img/avatar-1.jpg" alt="..." class="img-fluid rounded-circle"></div>
        <div class="title">
            <h1 class="h4">Mark Stephen</h1>
            <p>Web Designer</p>
        </div>
    </div>
    <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
    <ul class="list-unstyled">
        @if(ViewBag.Title == "Home")
        {
            <li class="active"><a href="@Url.Action("Index","Home")"> <i class="icon-home"></i>Home </a></li>
        }
        else
        {
            <li><a href="@Url.Action("Index","Home")"> <i class="icon-home"></i>Home </a></li>
        }
        <li><a href="@Url.Action("Index", "Clients")"> <i class="icon-user"></i>Clients </a></li>
        
        <li><a href="@Url.Action("Index", "Deals")"> <i class="fa fa-bar-chart"></i>Deals </a></li>
        <li><a href="@Url.Action("Index", "Interactions")"> <i class="icon-paper-airplane"></i>Interactions </a></li>
        <li><a href="forms.html"> <i class="icon-padnote"></i>Forms </a></li>
        <li>
            <a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-interface-windows"></i>Maintenance </a>
            <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                <li><a href="#">Lawyers</a></li>
                <li><a href="#">Banks</a></li>
                <li><a href="#">Companies</a></li>
                <li><a href="#">Interaction Types</a></li>
            </ul>
        </li>
        @Html.Partial("_LoginPartial")
    </ul>
</nav>