@using Quadridge2.Helpers
@model IEnumerable<Quadridge2.Models.Maintenance.Service>
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <button class="btn btn-primary" data-target="addService" data-toggle="modal" id="btnShowModal">New Service</button>
</div>
@Html.AddNewModal("Service", "Add New Service", "Service")
@Html.DeleteModal("Service")
@Html.EditModal("Edit Service", "Service", "Service")


<div class="row">
    @if (Model == null)
    {
        <p>There are no sevices, please add one.</p>
    }
    else
    {
        <table id="services" class="table table-bordered table-hover">
            @foreach (var service in Model)
            {
                <tr>
                    <td>@service.Name</td>
                    <td><button class="btn btn-info edit" onclick="editGroupName('@service.Id', '@service.Name'); return false;">Edit</button>  <button class="btn btn-danger delete" data-service-id=@service.Id data-target="#confirmDelete"><i class="fa fa-trash-o fa-lg"></i></button></td>
                </tr>
            }
        </table>
    }
</div>

@section Scripts
{
    <script>

        function editGroupName(id, name) {
            $('input#editId').val(id);
            $('#editModalText').val(name);
        };

        $(document).ready(function () {

            var button;

            $("#btnShowModal").click(function () {
                button = $(this);
                $("#addService").modal('show');
            });           

            $("#btnHideModal").on("click",function () {
                $("#addService").modal('hide');
            });

            $("#btnHideEditModal").on("click", function () {
                $("#editModal").modal("hide");
            });

            $(".edit").on("click", function () {
                $("#editModal").modal("show");
            });

            $("#hideConfirmModal").on("click", function () {
                $("#confirmDelete").modal('hide');
            });

            $(".delete").on("click", function () {
                button = $(this);
                $("#deleteId").val($(this).attr("data-service-id"));
                $("#confirmDelete").modal('show');
            });

            $("#yes").on("click", function () {
                console.log("Ive been pushed");
                $.ajax({
                    url: "/Services/DeleteService/" + $("#deleteId").val(),
                    method: "DELETE",
                    success: function () {
                        toastr.success("Service removed");
                        $("#confirmDelete").modal("hide");
                        $(button.parent("tr")).remove();
                        console.log("Success");
                        location.reload();
                    }
                });
            });

            $(".saveService").click(function (e) {
                e.preventDefault();
                var service = {};

                if ($('input#editId').val() != '') {
                    service.id = $('input#editId').val();
                    service.name = $('#editModalText').val();
                }
                else {
                    service.name = $("#Service").val();
                }
                $.ajax(
                    {
                        method: "post",
                        url: "/Services/SaveService",
                        data: JSON.stringify(service),
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        complete: function () {
                            toastr.success("Service successfully added");
                            $("#addService").modal('hide');
                            var inside = "<td>" + service.name + "/<td>"
                            $(button.parent("table")).append("<tr>" + inside + "</tr>");
                            location.reload();
                        },
                        fail: function () {
                            toastr.error("Failed to add service.");
                        }
                    }
                )
            });
        });

    </script>
}

