@using Quadridge2.Helpers
@model Quadridge2.ViewModels.Trusts.TrustDetailsViewModel
@{
    ViewBag.Title = "Trust Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.CompaniesModal(Model.Companies, "Trusts", "AssignCompanies", Model.Trust.Id.ToString())

<div class="card">
    <div class="card-header">
        @Html.ActionLink("Edit", "Edit", "Trusts", new { id = Model.Trust.Id }, new { @class = "btn btn-info float-right" })
    </div>
    <div class="card-body">
        <div class="form-row">
            <div class="col-5">
                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(t => t.Trust.Name, new { @class = "form-control-label" })
                            @Html.TextBoxFor(t => t.Trust.Name, new { @class = "form-control", @value = Model.Trust.Name, @readonly = "" })
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(t => t.Trust.Donor, new { @class = "form-control-label" })
                            @Html.TextBoxFor(t => t.Trust.Donor, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    @if (Model.Trust.Structure == null)
                    {
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(t => t.Trust.StructureId, new { @class = "form-control-label" })
                                @Html.TextBoxFor(t => t.Trust.Structure.Name, new { @class = "form-control", @readonly = "", @id = "structureTextbox" })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-6">
                            <div class="form-group">
                                @Html.LabelFor(t => t.Trust.StructureId, new { @class = "form-control-label" })
                                @Html.TextBoxFor(t => t.Trust.Structure.Name, new { @class = "form-control textboxlink", @value = Model.Trust.Structure.Name, @readonly = "" })
                            </div>
                        </div>
                    }

                    <div class="col-6">
                        @{ 
                            var appointDate = Model.Trust.RegistrationDate.ToShortDateString();
                        }
                        <div class="form-group">
                            @Html.LabelFor(t => t.Trust.RegistrationDate, new { @class = "form-control-label" })
                            @Html.TextBoxFor(t => appointDate, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-6">
                        <div class="form-group">
                            @Html.LabelFor(t => t.Trust.TrusteeRepresentitive, new { @class = "form-control-label" })
                            @Html.TextBoxFor(t => t.Trust.TrusteeRepresentitive, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-5">
                <ul>
                    <li class="list-group-item service-heading">Services</li>
                    @foreach(var service in Model.Trust.TrustServices)
                    {
                        <li class="list-group-item">@service.Service.Name</li>
                    }
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#companiesModal">Assign Companies</button>
        @Html.ActionLink("New Company", "New", "Companies", null, new { @class = "btn btn-info float-right", @style = "margin-right:10px" })
        <h4>Companies</h4>
    </div>
    <div class="card-body">
        @if (Model.Companies.Count() == 0)
        {
            <h4>No Companies for this trust</h4>
        }
        else
        {
            <table id="contacts" class="display table table-light table-bordered">
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var company in Model.Trust.Companies)
                    {
                        <tr>
                            <td>@Html.ActionLink(company.Name, "Details", "Companies", new { id = company.Id }, null)</td>
                            <td>@Html.ActionLink("Remove", "RemoveTrust", "Structures", new { id = company.TrustId, cid = company.Id }, new { @class = "btn btn-danger float-right" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".display").DataTable();

            if ($('#Trust_Structure_Name').val() != '') {
                $('#Trust_Structure_Name').css('cursor', 'pointer');
                $('#Trust_Structure_Name').mouseover();
                $("#Trust_Structure_Name").on("click", function () {
                    var url = '@Url.Action("Details", "Structures", new { id = "__id__" })';
                    window.location.href = url.replace('__id__', @Model.Trust.StructureId);
                });
            };

            $("#contacts .js-delete").on("click", function () {
                var button = $(this);
                if (confirm("Are you sure you want to delete this customer?")) {
                    $.ajax({
                        url: "/Companies/Delete" + button.attr("data-company-id"),
                        method: "DELETE",
                        success: function () {
                            //console.log("Success");
                            table.row(button.parents("tr")).remove().draw();
                        }
                    }); // ajax
                }
            }); // on click function
        }); // ready function
    </script>
}