@model Quadridge2.ViewModels.TrustFormViewModel
@{
    ViewBag.Title = "Trust Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        @using (Html.BeginForm("Save", "Trusts"))
        {
        <div class="form-row">
            <div class="col-3">
                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            @Html.LabelFor(t => t.Trust.Name, new { @class = "form-control-label" })
                            @Html.TextBoxFor(t => t.Trust.Name, new { @class = "form-control" })
                            @Html.ValidationMessageFor(t => t.Trust.Name)
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            @Html.LabelFor(t => t.Trust.Donor, new { @class = "form-control-label" })
                            @Html.TextBoxFor(t => t.Trust.Donor, new { @class = "form-control" })
                            @Html.ValidationMessageFor(t => t.Trust.Donor)
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            @Html.LabelFor(t => t.Trust.StructureId, new { @class = "form-control-label" })
                            @Html.DropDownListFor(t => t.Trust.StructureId, new SelectList(Model.Structures, "Id", "Name"), "", new { @class = "form-control" })
                            @Html.ValidationMessageFor(t => t.Trust.StructureId)
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            @Html.LabelFor(t => t.Trust.AppointmentDate, new { @class = "form-control-label" })
                            @Html.TextBoxFor(t => t.Trust.AppointmentDate, new { @class = "form-control datepicker-here", @data_language = "en", @autocomplete = "off" })
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-12">
                        <div class="form-group">
                            @Html.LabelFor(t => t.Trust.TrusteeRepresentitive, new { @class = "form-control-label" })
                            @Html.TextBoxFor(t => t.Trust.TrusteeRepresentitive, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-row">
                    <ul class="list-group">
                        <li class="list-group-item service-heading">Services</li>
                        @foreach (var service in Model.Services)
                        {
                        <li class="list-group-item">
                            <input type="checkbox" name="services" value="@service.Id" id="checked_@service.Id" />
                            <label for="checked_@service.Id">@service.Name</label>
                        </li>
                        }
                    </ul>
</div>
            </div>
        </div>
            @Html.AntiForgeryToken()
            <button class="btn btn-primary">Save</button>

        }
    </div>
</div>

