@model Quadridge2.ViewModels.LawFirms.LawFirmDetailsViewModel
@using Quadridge2.Helpers
@{
    ViewBag.Title = Model.LawFirm.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.ContactsModal(Model.Contacts, "LawFirms", "AssignContacts", Model.LawFirm.Id.ToString())

<div class="card">
    <div class="card-header">
        <button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#contactsModal">Assign Contacts</button>
        @Html.ActionLink("New Contact", "New", "Contacts", null, new { @class = "btn btn-info float-right", @style = "margin-right:10px" })
        <h4>Contacts</h4>
    </div>
    <div class="card-body">
        @if (Model.LfContacts.Count() == 0)
        {
            <p>This law firm currently has no contacts, please add or assign contacts.</p>
        }
        else
        {
            <table class="display table table-light table-bordered">
                <thead class="thead-light">
                    <tr>
                        <th>Name</th>
                        <th>Email Address</th>
                        <th>Contact Number</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contact in Model.LfContacts)
                    {
                        <tr>
                            <td>@Html.ActionLink(contact.Fullname, "Details", "Contacts", new { id = contact.Id }, null)</td>
                            <td>@contact.Email</td>
                            <td>@contact.ContactNo</td>
                            <td>@Html.ActionLink("Remove", "RemoveContact", "FinancialInstitutions", new { id = contact.Id, cid = contact.Id }, new { @class = "btn btn-danger float-right" })</td>
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>

@section scripts
{
    <script>
    $(document).ready(function () {
        $(".display").DataTable();
    });
    </script>
}
